.github/
.vscode/
.idea/
*.sln
*.code-workspace

/bin
/build
/build_*
sdk/tools/ffx_shader_compiler/bin/
sdk/tools/ffx_shader_compiler/build/
sdk/tools/ffx_model_parser/bin/
sdk/tools/ffx_model_parser/build/

/gen_docs

*.log

# Samples specific ignores
samples/.github/
samples/cache
samples/build
samples/.vs
samples/.vscode
samples/.idea
samples/imgui.ini
samples/doxygen/
samples/tests/system_test/artifacts
samples/tests/system_test/tmp
samples/output/*
samples/.mypy_cache
samples/tags
samples/*~
samples/.*.sw*
samples/.sw*
samples/.tracy
samples/.DS_Store
samples/assets/
samples/third_party/*
!samples/third_party/CMakeLists.txt
!samples/third_party/manifest.tsv
!samples/third_party/sparse.tsv
cache
imgui.ini
.gradle/
.android/
result/